
:root{
    text-align: center;
      
}

main{
    background: snow;
}

.container{
    
    margin: 0 auto;
    max-width: 800px;
    }

nav {
    padding: 0 auto;
    box-sizing: border-box;
    width: 100%;

}

header nav img{
   
    max-width: 70px;
    box-sizing: border-box;
}

header {
    
    padding: 20px;
    background: black;
    
}

.subtema {
    margin: 0 auto;
    padding: 10px;
    background: rgb(19, 19, 58);
    color: white;
    box-sizing: border-box;   
    font-family: arial
}


.format{
    text-align: left;
    padding: 10px
}

body{
    background: skyblue;
}

section{
    box-sizing: border-box;
    padding: 0 
}


img{
    border-radius: 10px;
    border: 2px dashed
}

div figure figcaption {
    font-size: 12px
}

#paragraf{
    text-aling: center;
    padding-left: 50px;
    padding-right: 50px;
}

